<template name="addCmi">
<h3>Add new Contract:</h3>
<form action="">
<table>
  <tr>
    <td><label for="cname">Contract Name:</label></td>
    <td><input type="text" name="cname" value="" id="cname" placeholder="Name..." /></td>
  </tr>
  <tr>
    <td><label for="">Contract Address: </label></td>
    <td><input type="text" name="caddress" value="" id="caddress" placeholder="Address..." /></td>
  </tr>
  <tr>
    <td><label for="">Git Url: </label></td>
    <td><input type="text" name="curl" value="" id="curl" placeholder="URL..." /></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Submit"></td>
  </tr>
</table>
</form>

</template>
