<template name="contracts">
<h1 id="contracts">Contracts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>balance</th>
      <th>hash</th>
      <th>code</th>
      <th>memory</th>
    </tr>
  </thead>
  <tbody>
  {{#each contracts}}
  <tr>
    <td>{{getBalance}}</td>
    <td>
      <a href="{{pathFor 'contract'}}"> {{_id}} </a>
    </td>
    <td>{{#if hasCode}}<i class="icon-ok"></i>{{/if}}</td>
    <td>{{#if hasMemory}}<i class="icon-ok"></i>{{/if}}</td>
  </tr>
  {{/each}}
  <tr>
    <td colspan="5" id="showMore"> <center>loading...</center> </td>
  </tr>
  </tbody>
</table>
</template>
