<template name="login">
 
    <div id="wrongPW" class="alert alert-error hide"> Wrong username/password combination.  </div>
    
<div class="row-fluid">
  <div class="span4 offset4" id="loginWrapper">
    
    <h2>Login</h2>
    
    <form action="">
      <label>Username:
        <input type="text" name="username" placeholder="Username..." />
      </label>
      <label>Password:
        <input type="password" name="password" placeholder="Password..." />
      </label>
      <input type="submit" value="Login" />
    </form>
    
  </div>
</div>


</template>
