<template name="userAddress">
<h2>My Addresses</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>balance</th>
      <th>hash</th>
      <th>tx</th>
      <th>comment</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>100 finney</td>
      <td>aasd4as367asd3as45</td>
      <td>3</td>
      <td>blabla working</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="6" class="right">
        <a href="#">add new</a>
      </td>
    </tr>
  </tbody>
</table>
</template>
